@page
@model PetCareConnect.Pages.YourProfileModel
@{
    ViewData["Title"] = "Your Profile";
}
<style>
    .profile-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .profile-details {
        text-align: left;
        margin-bottom: 20px;
    }

    .profile-picture-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: start;
    }

    .profile-picture-wrapper {
        position: relative;
        width: 260px; /* Increased width */
        height: 260px; /* Increased height */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-picture-container {
        position: relative; /* Ensure this container is the anchor */
        padding: 20px; /* Add padding around the image */
        border-radius: 50%; /* Ensure container is circular */
    }

        .profile-picture-container img {
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-radius: 50%;
        }

    .upload-icon {
        font-size: 2rem;
        cursor: pointer;
        color: #007bff;
        position: absolute;
        bottom: 10px; /* Position relative to the image */
        right: 10px; /* Position relative to the image */
    }

    .profile-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 65px; /* Move text buttons down */
    }

        .profile-actions a {
            margin-bottom: 20px;
            color: #007bff;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

            .profile-actions a:hover {
                text-decoration: underline;
            }

        .profile-actions .icon {
            margin-right: 8px;
            font-size: 1.25rem;
        }

    .assignments-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    .assignment-item {
        display: contents;
    }

    .card {
        display: flex;
        margin-bottom: 20px;
    }

    .card-img-container {
        flex: 1;
    }

        .card-img-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

    .card-content {
        flex: 1;
        padding: 20px;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .card-payment {
        font-size: 1.25rem;
        font-weight: bold;
        color: #000;
    }
</style>

<div class="container">
    <div class="profile-container">
        <div class="profile-details">
            <h2 class="mb-3">@Model.User.Username's Profile</h2>
            <p><strong>Full Name:</strong> @Model.User.FullName</p>
            <p><strong>Email:</strong> @Model.User.Email</p>
        </div>
        <div class="profile-picture-actions">
            <div class="profile-picture-wrapper">
                <div class="profile-picture-container">
                    <img id="profilePictureImg" src="@(Model.User.ProfilePictureUrl ?? "/images/Users/default.png")" alt="Profile Picture" class="img-thumbnail">
                    <label for="profilePicture" class="upload-icon">
                        <i class="fas fa-upload"></i>
                    </label>
                </div>
            </div>
            <div class="profile-actions">
                <a asp-page="/RegisterPet"><i class="fas fa-paw icon"></i> Register Pet</a>
                <a asp-page="/CreateAssignmentModel"><i class="fas fa-tasks icon"></i> Create Assignment</a>
                <a asp-page="/RegisteredPets"><i class="fas fa-list icon"></i> Registered Pets</a>
                <a asp-page="/Messages"><i class="fas fa-envelope icon"></i> Your Messages</a>
            </div>
            <div></div> <!-- Empty column -->
        </div>
        <form method="post" enctype="multipart/form-data" asp-page-handler="UploadProfilePicture" style="display: none;" id="profilePictureForm">
            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture" onchange="previewAndSubmit()">
        </form>
    </div>

    <h2>Your Assignments</h2>
    <div class="assignments-list">
        @if (Model.Assignments != null)
        {
            @foreach (var assignment in Model.Assignments)
            {
                <div class="assignment-item">
                    <div>@Model.Pets.FirstOrDefault(p => p.PetId == assignment.PetId)?.Name</div>
                    <div>@assignment.StartDate.ToShortDateString()</div>
                    <div>
                        <a asp-page="/AssignmentDetails" asp-route-AssignmentId="@assignment.AssignmentId">assignment details</a>
                    </div>
                    <div>
                        @if (assignment.BookedByUserId != null)
                        {
                            @if (!assignment.BookingConfirmed)
                            {
                                <form method="post" asp-page-handler="ConfirmBooking">
                                    <input type="hidden" name="assignmentId" value="@assignment.AssignmentId" />
                                    <button type="submit" class="btn btn-success">Confirm Booking</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="CancelBooking">
                                    <input type="hidden" name="assignmentId" value="@assignment.AssignmentId" />
                                    <button type="submit" class="btn btn-danger">Cancel Booking</button>
                                </form>
                            }
                        }
                        else
                        {
                            <span class="badge badge-warning">Not Booked</span>
                        }
                    </div>
                    <div>
                        @if (assignment.BookedByUserId != null)
                        {
                            <div class="d-flex align-items-center">
                                <a asp-page="/UserProfile" asp-route-userId="@assignment.BookedByUserId" asp-route-assignmentId="@assignment.AssignmentId">
                                    <img src="@assignment.BookedByUserProfilePictureUrl" alt="Booked By" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 10px;">
                                    @assignment.BookedByUsername
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <p>No assignments found.</p>
        }
    </div>

    <h2 style="margin-top: 8px;">Assignments You've Booked</h2>

    @if (Model.BookedAssignments != null && Model.BookedAssignments.Any())
    {
        @foreach (var assignment in Model.BookedAssignments)
        {
            <div class="card">
                <div class="card-img-container">
                    @if (!string.IsNullOrEmpty(assignment.PictureUrl))
                    {
                        <img src="@assignment.PictureUrl" class="card-img-top" alt="Pet Image">
                    }
                </div>
                <div class="card-content">
                    <h5 class="card-title">@assignment.Title</h5>
                    <p class="card-text">
                        <strong>Pet Name:</strong> @assignment.PetName <br />
                        <strong>User Name:</strong> @assignment.UserName <br />
                        <strong>Species:</strong> @assignment.Species <br />
                        <strong>City:</strong> @assignment.City <br />
                        <strong>Start Date:</strong> @assignment.StartDate.ToString("yyyy-MM-dd") <br />
                        <strong>End Date:</strong> @assignment.EndDate.ToString("yyyy-MM-dd") <br />
                        <strong>Task Type:</strong> @assignment.TaskType <br />
                        <strong>Feeding Schedule:</strong> @assignment.FeedingSchedule <br />
                        <strong>Food Amount:</strong> @assignment.FoodAmount <br />
                        <strong>Comments:</strong> @assignment.Comments <br />
                    </p>
                    <p class="card-payment">
                        <strong>Payment:</strong> $@assignment.Payment
                    </p>
                    @if (!assignment.BookingConfirmed)
                    {
                        <span class="badge badge-warning">Not Confirmed</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Confirmed</span>
                    }
                    <form method="post" asp-page-handler="CancelAssignment">
                        <input type="hidden" name="assignmentId" value="@assignment.AssignmentId" />
                        <button type="submit" class="btn btn-danger">Cancel Assignment</button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p>No booked assignments found.</p>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script>
        function previewAndSubmit() {
            var fileInput = document.getElementById('profilePicture');
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('profilePictureImg').src = e.target.result;
                    document.getElementById('profilePictureForm').submit();
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
}
